
version: "3.1"
services:
{% for service_name, spec in services.items() %}
  {{ {service_name: spec} | to_nice_yaml(width=50, explicit_start=False, explicit_end=False)  }}
{% endfor %}


secrets:
{% for secret in known_secrets %}
{% if secret in docker_secrets %}
 {{ secret }}: 
   {{ docker_secrets[secret] | to_nice_yaml(width=50, explicit_start=False, explicit_end=False) }}
{% endif %}{% endfor %}
