version: "3.1"

services:
{% for service_name in service_list %}
  {% if service_name in services %}
    {% spec = services[service_name] %}
  {{ service_name }}:
    image: {{ spec.image  }}
    {% if spec.ports is defined %}
    ports:
    {% for port in spec.ports %}
      - {{ port  }}
    {% endfor %}
    {% endif %}
    {% if spec.env_file is defined %}
    env_file: {{ spec.env_file  }}
    {% endif %}
    {% if spec.environment is defined %}
    environment:
    {% for env_var, env_value in spec.environment.items() %}
      {{ env_var  }}: {{ env_value  }} 
    {% endfor %}
    {% endif %}
    {% if spec.secrets is defined %}
    secrets:
      {% for secret in spec.secrets %}
       - {{ secret  }} 
      {% endfor %}
    {% endif %}
    {% if spec.volumes is defined %}
     volumes:
     {% for volume in spec.volumes %}
       - {{ volume  }}
     {% endfor %}
    {% endif %}

  {% endif %}
{% endfor %}
  

      

secrets:
  cocca_test_login:
    external: true
  cocca_test_password:
    external: true
  centralnic_test_login:
    external: true
  centralnic_test_password:
    external: true
  mysql_root_password:
    external: true
  mysql_password:
    external: true
  mysql_database:
    external: true
  mysql_user:
    external: true
  centralnic_test_config:
    external: true
  cocca_test_config:
    external: true
  celery_sentry_dsn:
    external: true
  domain_api_sentry_dsn:
    external: true
  nodepp_sentry_dsn:
    external: true
  site.key:
    external: true
  site.crt:
    external: true
  django_secret_key:
    external: true
  jwt_secret_key:
    external: true
  nzrs_test_login:
    external: true
  nzrs_test_password:
    external: true
  nzrs_test_config:
    external: true
  nzrs-epp-test.pem:
    external: true
  nzrs-epp-test.key:
    external: true
  logzio_token:
    external: true 
