RABBITMQ_DEFAULT_USER={{ rabbitmq_default_user  }}
RABBITMQ_DEFAULT_PASS={{ rabbitmq_default_pass  }}
RABBITMQ_HOST={{ rabbitmq_host  }}
RABBITMQ_PORT={{ rabbitmq_port  }}
RABBITMQ_DEFAULT_VHOST={{ rabbitmq_default_vhost  }}
MYSQL_HOST={{ database_host  }}
LOGZIO_TOKEN_FILE=/run/secrets/logzio_token
CENTRALNIC_TEST_LOGIN_FILE=/run/secrets/centralnic_test_login
CENTRALNIC_TEST_PASSWORD_FILE=/run/secrets/centralnic_test_password
COCCA_TEST_LOGIN_FILE=/run/secrets/cocca_test_login
COCCA_TEST_PASSWORD_FILE=/run/secrets/cocca_test_password
MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_password
MYSQL_USER_FILE=/run/secrets/mysql_user
MYSQL_PASSWORD_FILE=/run/secrets/mysql_password
MYSQL_DATABASE_FILE=/run/secrets/mysql_database
SENTRY_DSN_FILE=/run/secrets/nodepp_sentry_dsn
DJANGO_SECRET_KEY_FILE=/run/secrets/django_secret_key
JWT_SECRET_KEY_FILE=/run/secrets/jwt_secret_key
SENTRY_ENVIRONMENT={{ sentry_environment  }}
RABBITMQ_ERLANG_COOKIE={{ rabbitmq_erlang_cookie  }}
